.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
bin/
lib/
include/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
pyvenv.cfg

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover